* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p, .ns-review-group {
  margin: 0;
}

a {
  color: black;
}

li {
  list-style: none;
  margin: 0.9rem;
}

ul {
  padding: 0;
}

.font-small {
  font-size: 14px;
}

.font-xs {
  font-size: 13px;
  line-height: 1.6;
}

.bg-green {
  background-color: #e6f3e6;
}

.bg-gray {
  background-color: #f8f9fa;
}

.bg-beige {
  background-color: #fbf7f2;
}

.bg-dark-beige {
  background-color: #f7f1eb;
}

.color-gray {
  color: #868B94;
}

@media (max-width: 768px) {
  .md-bb {
    border-bottom: 1px solid #eaebee;
  }
}

/* navigation */

.navdiv {
  position: fixed;
  height: 4rem;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}

.navbar {
  padding-top: 0.6rem;
  max-width: 75rem;
  margin: 0 auto;
}

.nav-con {
  width: 100%;
  padding: 0 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: initial;
}

.brand, .thumbnail-image {
  margin-right: 1.5rem;
}

@media (max-width: 767.9px){
  .navdiv {
    height: auto;
  }
  
  .nav-con {
    justify-content: space-between;
  }

  .brand {
    flex-grow: 1;
  }
}

.navbar-expand-md {
  flex-wrap: wrap;
}

.navbar-expand-md .offcanvas-toggler {
  display: none;
}

@media (max-width: 767.9px){
  #offcanvas-search-toggler {
    display: none;
  }

  .navbar-expand-md .offcanvas-toggler {
    display: block;
  }
}

/* navigation - offcanvas */

.offcanvas-backdrop.show {
  opacity: 0.45;
}

.offcanvas-toggler {
  padding: 0 0.5rem;
  border: 0;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.65);
  border: 0;
  background-color: transparent;
  transition: box-shadow 0.15s ease-in-out;
}

.offcanvas-toggler:focus {
  box-shadow: none;
}

.offcanvas-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #eaebee;
}

.offcanvas.offcanvas-top {
  border: 0;
}

@media (max-width: 767.9px) {
  .offcanvas-header {
    padding: 0.8rem 1rem 0.9rem 1rem;
  }

  .offcanvas.offcanvas-top {
    height: 20rem;
  }
}

#offcanvasSearch .offcanvas-header {
  width: 100%;
  display: flex;
  border: 0;
  padding: 0.5rem 1rem;
}


#offcanvasSearch {
  height: 16rem;
}

.offcanvas-header .close {
  border: 0;
  background-color: transparent;
  font-weight: bold;
  padding-right: 0;
}

.btn-close {
  margin-right: 1rem;
  color: #212124;
}

.offcanvas-header input {
  flex-grow: 1;
  font-size: 0.9rem;
}

.offcanvas-header .offcanvas-toggler {
  margin-left: auto;
}

.offcanvs-keyword-recommended {
  font-size: 0.875rem;
  font-weight: bold;
  color: #868b94;
}

.offcanvas-keyword-group {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offcanvas-keyword {
  width: 50%;
  margin: 0;
  padding: 0.95rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid #eaebee;
}

#offcanvasSearch .offcanvas-body {
  flex-direction: column;
  padding: 0.8rem 1rem 0 1rem;
}

.offcanvas-body {
  display: flex;
  padding: 0 0.5rem;
}

#offcanvasMenu, .ns-banner-text {
  flex-grow: 1;
}

@media (min-width: 767.9px) and (max-width: 992px) {
  #offcanvas-search-toggler {
    display: inline-block !important;
    padding-right: 1rem;
  }

  .navbar-search {
    display: none;
  }
}

.navbar-expand-md .navbar-nav .nav-link, .nav-link, .card-body {
  padding: 0;
}

.navbar-nav {
  flex-wrap: wrap;
}

.nav-item {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0.8rem;
}

@media (max-width: 767.9px) {
 .navbar-nav {
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }

  .nav-item {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0.6rem;
  }
}

.nav-link {
  color: #4d5159 !important;
}

.nav-link:hover {
  color: #868b94 !important;
}

.nav-link.active {
  color: #ff6f0f !important;
}

input, .form-control {
  width: 288px;
  height: 40px;
  border: 0;
  background-color: #F2F3F6;
}

input {
  border-radius: 7px;
  padding-left: 12px;
  margin-right: 12px;
}

input:focus {
  outline: none;
}

.chat {
  border: #d1d3d8 solid 1px;
  font-weight: bold;
  border-radius: 4.4px;
  min-width: 6.2rem;
}

.chat:hover {
  border: #d1d3d8 solid 1px;
  background-color: #f2f3f6;
}

/* main - section 1*/

.main {
  padding-top: 4rem;
}

@media (max-width: 767.9px) {
  .main {
    padding-top: 3.5rem;
  }
}

.home-first-content, .home-mid-content {
  width: 100%;
}

.home-first-content {
  justify-content: center;
  flex-shrink: 1;
  overflow: hidden;
  height: 726px;
}

.home-first .home-image-top {
  align-self: flex-end;
}

.home-image-top {
  min-width: 813px;
  max-width: 813px;
}

.home-text {
  min-width: 333px;
  padding-top: 14rem;
}

.home-first .home-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.home-title {
  font-weight: 600;
  line-height: 1.3;
}

.home-subtext, .home-title {
  margin-bottom: 28px;
}

@media (max-width: 767.9px) {
  .home-first-content {
    height: auto;
  }

  .home-image-top {
    max-width: 328px;
    min-width: 328px;
    margin: 0 auto;
  }

  .home-text {
    padding-top: 2rem;
    text-align: center;
  }

  .home-first .home-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .home-title {
    font-weight: 600;
    line-height: 1.3;
    margin: 2.4rem 0 1rem;
  }

  .home-title, .home-popular-title {
    font-size: 1.8rem;
  }

  .home-subtext {
    margin-bottom: 1.2rem;
  }
}

.home-main-image-01, .home-main-image-02 {
  overflow: hidden;
}


.home-image-top img, .home-main-image-01 img, .home-main-image-02 img, .home-main-image-03 img {
  width: 100%;
  height: auto;
}

/* main - section 2, 4 */

.home-mid {
  padding: 4rem 0;
}

.home-mid-content {
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767.9px) {
  .home-mid {
    width: 100%;
    padding: 3.8rem 0 2rem;
  }

  .home-mid-content {
    text-align: center;
  }

  .home-mid .home-image-top {
    margin: 0;
  }
}

.home-main-image-01 {
  width: 532px;
}

.home-main-image-02 {
  width: 546px;
}

.home-main-image-03 {
  width: 526px;
}

@media (max-width: 767.9px) {
  .home-main-image-02, .home-main-image-03 {
    width: 328px;
    height: auto;
  }
}

.home-mid-content, .home-popular-content, .home-topic {
  max-width: 1024px;
}

.home-button {
  padding: 14px 24px;
  font-size: 18px;
}

@media (max-width: 767.9px) {
  .home-button {
    padding: 10px 20px;
  }
}

.home-button, .footer-button, .footer-button:hover {
  background-color: #f1f3f5;
  font-weight: bold;
}

.home-button:hover {
  background-color: #e9ecef;
}

/* main - section 3 */

.home-town {
  display: flex;
  justify-content: space-between;
  margin-top: 3.8rem;
}

.home-town-item {
  max-width: 8.6rem;
  margin-right: 3rem;
}

/* main - section 5 */

.home-popular-title {
  font-weight: bold;
  margin: 4rem auto 5rem;
}

.home-popular-content {
  margin: 4rem auto 5rem;
}

.row-cols-md-4>* {
  flex: 0 0 auto;
  width: calc(25% - 44px);
}

.col {
  padding: 0;
  margin-right: 52px;
  margin-bottom: 3.5rem;
}

@media (max-width: 767.9px) {
  .home-popular-title {
    margin: 4rem auto 3rem;
  }

  .home-popular-content {
    margin: 4rem auto 2rem;
  }

  .row-cols-2>* {
  width: 45%;
  }

  .col {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

.card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-img-top {
  border-radius: 12px;
}

.card-title, .card-price, .card-location {
  margin-bottom: 0.2rem;
}

.card-title {
  font-size: 1rem;
  margin-top: 1rem;
}

@media (max-width: 786px) {
  .card-title, .card-price, .ns-review-store-name {
    font-size: 0.9rem;
  }

  .card-title {
    margin-top: 0.5rem;
  }
}

.card-number {
  color: #868e96;
}

/* main - section 6 */

.home-topic {
  margin: 2.5rem auto;
}

.home-topic-list {
  margin-left: 4rem;
  justify-content: space-between;
}

@media (max-width: 767.9px) {
  .home-topic {
    margin: 1.5rem auto;
  }

  .home-topic-list {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

.home-topic-list, .ns-store, .ns-review {
  display: flex;
  flex-wrap: wrap;
}

.home-topic-link, .footer-link, .ns-store a, .ns-review a, .jobs-mid a{
  text-decoration: none;
}

.home-topic-link:hover, .footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .home-topic-link {
    font-size: 0.8rem;
  }
}

/* main-footer */

.home-footer, .footer-bottom, .bt {
  border-top: 1px solid #eaebee;
}

.home-footer {
  padding: 0 1rem;
}

.footer-content, .jobs-first-content, .jobs-mid {
  max-width: 48rem;
  margin: 0 auto;
}

.footer-content {
  padding: 0;
}

.footer-top, .footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  padding: 2.6rem 0;
}

.footer-list {
  margin-right: 3rem;
}

.footer-list, .ns-banner-text {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767.9px) {
  .footer-top, .ns-footer-top {
    padding: 2.5rem 0;
    flex-direction: column-reverse;
  }

  .footer-list-group {
    justify-content: space-around;
    margin-top: 2rem;
  }

  .footer-list {
    width: 30%;
  }
  
}

.footer-item {
  margin: 0.9rem 0;
}

.footer-button-group, .ns-banner-content, .jobs-mid-banner-content {
  display: flex;
}

.footer-download {
  padding-top: 0.9rem;
}

.footer-button {
  width: 147px;
  height: 44px;
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button:hover {
  opacity: 0.5;
}

.footer-bottom {
  align-items: flex-start;
  padding-top: 1.4rem;
  padding-bottom: 5.6rem;
}

.footer-sns {
  display: inline-flex;
}

.footer-sns .bi {
  font-size: 22px;
}

.bi:hover, .chat:hover {
  opacity: 0.7;
}

.footer-sns a {
  margin-right: 0.5rem;
  line-height: 1;
}

.dropdown-toggle::after {
  border: 0;
}

.footer-info, .ns-review-group {
  margin-bottom: 0.8rem;
}

.footer-info span {
  line-height: 1;
}

.footer-terms {
  display: flex;
  flex-wrap: wrap;
}

.footer-link {
  margin-right: 0.8rem;
}

@media (max-width: 768px) {
  .footer-app {
    text-decoration: none;
    margin-left: 1.5rem;
  }

  .footer-info {
    font-size: 0.5rem;
  }
  
  .footer-info span {
    line-height: 1;
  }
}

/* nearby_store */
/* ns-first */
.ns-first {
  height: 20rem;
}

.ns-first .ns-content {
  padding: 3.2rem 0rem 4.2rem;
}

.ns-first .ns-content, .jobs-first {
  position: relative;
  overflow: hidden;
}

.ns-title, .jobs-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.ns-first-image {
  right: 0;
  width: 453px; 
  height: 260px;
}

@media (max-width: 768px) {
  .ns-first {
    height: 18.5rem;
  }

  .ns-first .ns-content {
    padding: 1.5rem 0.5rem 1rem;
  }

  .ns-title, .jobs-title {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .ns-first-image {
    width: 293px; 
    height: 168px;
    left: 50%;
    transform: translate(-42%);
  }
}

.ns-first-image, .jobs-first-image {
  position: absolute;
  bottom: 0;
}

.ns-text, .jobs-text {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.3;
}

/* ns-mid */

.ns-content {
  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
  padding: 3.2rem 1rem 4.2rem;
}

@media (max-width: 768px){
  .ns-content {
    padding: 1.5rem 1rem 1rem;
  }
}

.ns-mid {
  margin: 1rem 0;
}

.ns-image, .jobs-image {
  width: 100%;
}

.ns-mid .ns-title {
  text-align: center;
  margin-bottom: 1rem;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-x::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

.ns-mid-group, .ns-store-group {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

.ns-mid-group li {
  margin: 0 0.3rem;
}

.ns-mid-button {
  border: 1px solid #eaebee;
  border-radius: 25px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .ns-mid-button {
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }
}

.ns-mid-button.active {
  border-color: #4d5159;
  background-color: #4d5159;
  color: white;
}

.ns-mid-button.active:hover {
  background-color: #4d5159;
}

.ns-mid-button:hover {
  background-color: #f2f3f6;
}

.thumbnail-image {
  margin-right: 1rem;
  border: 1px solid #0000000d;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.ns-store-name {
  font-size: 1.1rem;
}

.ns-store-item {
  width: calc(50% - 32px);
}

.ns-review-group {
  width: calc(50% - 8px);
}

@media (max-width: 768px) {
  .thumbnail-image {
    width: 4rem;
    height: 4rem;
  }

  .ns-store-name {
    font-size: 1rem;
  }

  .ns-store-info {
    font-size: 0.9rem;
  }

  .ns-store-item, .ns-review-group {
    width: 100%;
  }
}

.ns-store-info, .ns-review-detail {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.ns-store-name, .ns-store-info-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: flex-end;
}

.ns-store-info-title {
  display: flex;
}

.ns-store-info-group {
  width: 100%;
  overflow: hidden;
}

.ns-store-group {
  padding: 1.5rem 1rem;
  line-height: 1.3;
}

.ns-store-name, .ns-user-id {
  font-weight: bold;
}

.ns-store-place, .ns-text-info, .ns-store-review {
  color: #868B94;
}

.ns-store-place {
  font-size: 0.875rem;
  margin-left: 0.3rem;
}

.ns-store-review {
  font-size: 0.8rem;
  white-space: nowrap;
}

/* ns-mid-bottom */

.ns-mid-bottom {
  margin-top: 4.6rem;
}

.ns-mid-bottom .ns-title {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .ns-mid-bottom {
    margin-top: 6rem;
  }

  .ns-mid-bottom .ns-title {
    margin-bottom: 1.5rem;
  }
}

.ns-user, .ns-review-store-info {
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .ns-user-id {
    font-size: 0.86rem;
  }
}

.ns-badge, .jobs-button {
  background-color: #ff6f0f;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  line-height: 1.5;
}

.ns-badge {
  padding: 0.1rem 0.28rem;
  margin-left: 0.3rem;
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .ns-badge {
    font-size: 0.6rem;
  }
}

.ns-review-item, .ns-review-store {
  border: 1px solid #eaebee;
  border-radius: 7px;
}

.ns-review-item {
  padding: 1rem;
}

.ns-review-thumbnail {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  overflow: hidden;
}

.ns-review-store {
  display: flex;
  margin-top: 1rem;
}

.ns-review-store-image {
  width: 4rem;
  height: 4rem;
}

.ns-review-store-info {
  justify-content: center;
}

.ns-text-info {
  font-size: 0.8rem;
}

.ns-review-detail {
  padding-top: 0.2rem;
}

@media (max-width: 768px) {
  .ns-text-info {
    font-size: 0.75rem;
  }
  
  .ns-review-detail {
    font-size: 0.9rem;
    padding-top: 0.4rem;
  }
}

/* ns-banner */

.ns-banner {
  background-color: #f7be6824;
  border-radius: 7px;
  margin-top: 3.8rem;
  padding: 1.5rem 1.8rem;
}

.ns-banner-text {
  justify-content: center;
  padding-left: 2rem;
}

.ns-banner-text h5 {
  font-weight: bold;
}

.ns-banner .ns-badge {
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .ns-banner {
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding: 1.8rem 1.5rem;
  }

  .ns-banner-text {
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 0;
    font-weight: bold;
  }

  .ns-banner-text, .ns-banner-text h5 {
    font-size: 1rem;
    margin: 0;
  }

  .ns-banner .ns-badge {
    margin: 0;
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }
  
}

/* ns-footer */

.ns-footer-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.ns-footer-list {
  margin-bottom: 0;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .ns-footer-list-group {
    margin-top: 0.5rem;
  }

  .ns-footer-list {
    width: 26%;
  }
}

.ns-footer-item {
  margin: 0.9rem 0;
}


/* jobs */
/* jobs-first */

.jobs-first {
  background-color: #ffe2d2;
}

.jobs-first-content {
  height: 19.5rem;
  padding-top: 3rem;
}

.jobs-first-image {
  left: 50%;
  right: 0;
  width: 603px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .jobs-first-content {
    padding: 1.5rem 1rem;
    height: 18.5rem;
  }

  .jobs-first-image {
    width: 469px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-40%);
  }
}

/* jobs-mid */

.jobs-mid {
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .jobs-mid {
    padding: 0 1rem 2.5rem 1rem;
  }
}

.jobs-mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jobs-mid-item {
  display: flex;
  width: 48%;
  padding: 1.2rem 0;
}

.jobs-mid h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 3.6rem 0 2.8rem;
}

.jobs-mid-image {
  min-width: 6.8rem;
  min-height: 6.8rem;
  max-width: 6.8rem;
  max-height: 6.8rem;
}

@media (max-width: 768px) {
  .jobs-mid-item {
    padding: 1rem 0;
    width: 100%;
  }

  .jobs-mid h2 {
    font-size: 1.25rem;
    margin: 2.5rem 0 1.6rem;
  }

  .jobs-mid-image {
    min-width: 6rem;
    min-height: 6rem;
    max-width: 6rem;
    max-height: 6rem;
  }
}

.jobs-mid-image .jobs-image {
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  overflow: hidden;
}

.jobs-mid-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.jobs-mid-item-title {
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
  line-height: 1.3;
}

.jobs-mid-item-place {
  color: #868b94;
  margin-bottom: 0.2rem;
  font-size: 0.875rem;
}

.jobs-mid-item-pay {
  font-weight: bold;
  font-size: 1rem;
}


@media (max-width: 768px) {
  .jobs-mid-item-title {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    line-height: 1.3;
  }

  .jobs-mid-item-place {
    font-size: 0.825rem;
  }

  .jobs-mid-item-pay {
    font-size: 0.875rem;
  }
}

/* jobs-mid-banner */

.jobs-banner {
  border-radius: 0.4rem;
  display: flex;
  padding: 1.9rem 1.5rem 1.9rem 2rem;
  margin: 2.8rem 0 3.5rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .jobs-banner {
    padding: 1.5rem;
    margin: 2rem 0 3rem 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.jobs-mid-banner-bg {
  background-color: #009ceb1a;
}

.jobs-bottom-banner-bg {
  background-color: #ff6f0f24;
}

.jobs-mid-banner-content {
  align-items: center;
}

.jobs-mid-banner-image {
  width: 64px;
  height: 64px;
  margin-right: 1.5rem;
}

.jobs-banner-text {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.3;
}

.jobs-button {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.6rem;
  font-size: 0.875rem;
}


@media (max-width: 768px) {
  .jobs-banner-text {
    font-size: 1rem;
    line-height: 1.4;
  }

  .jobs-button {
    margin: 0.8rem 0 0;
    font-size: 0.7rem;
  }
}

.jobs-bottom-banner {
  background-color: #ff6f0f24;
  padding: 1.8rem 1.5rem 1.8rem 2rem;
  margin: 1.7rem 0 3.5rem;
}

.jobs-bottom-banner-image {
  width: 54px;
  margin-right: 1.8rem;
}